AbstractNotificationWidget
{
  background-color: rgba(0, 0, 0, 75%);
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

AbstractNotificationWidget QLabel 
{
  color: white;
}
